[submodule "dff/api"]
	path = dff/api
	url = git://git.digital-forensic.org/api
[submodule "dff/ui"]
	path = dff/ui
	url = git://git.digital-forensic.org/ui
[submodule "dff/modules"]
	path = dff/modules
	url = git://git.digital-forensic.org/modules
[submodule "cmake_modules"]
	path = cmake_modules
	url = git://git.digital-forensic.org/cmake_modules
[submodule "doc"]
	path = doc
	url = git://git.digital-forensic.org/doc
