[submodule "dff/api"]
           path = dff/api
	   url = https://github.com/arxsys/dff-api
           branch = develop
[submodule "dff/ui"]
           path = dff/ui
           url = https://github.com/arxsys/dff-ui
           branch = develop
[submodule "dff/modules"]
           path = dff/modules
           url = https://github.com/arxsys/dff-modules
           branch = develop
[submodule "cmake_modules"]
           path = cmake_modules
           url = https://github.com/arxsys/dff-cmake_modules
           branch = develop
[submodule "doc"]
           path = doc
           url = https://github.com/arxsys/dff-doc
           branch = develop
[submodule "dff/unsupported"]
           path = dff/unsupported
           url = https://github.com/arxsys/dff-unsupported
           branch = develop
